<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proshanti - Tranquility for Mental Health</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to Proshanti!</h1>
            <p class="lead">**Proshanti**, which translates to 'Tranquility' in Bengali, is a dedicated platform for mental health services. Our mission is to bridge the gap between patients and doctors, fostering a secure environment for open discussion, accurate diagnosis, and effective treatment of mental health conditions.</p>
            <p class="lead">As a user-friendly website, Proshanti allows patients to browse through a comprehensive list of doctors, gaining insights into their professional details. After reviewing a doctor's profile, patients can conveniently schedule an appointment with their chosen healthcare professional.</p>
            <p class="lead">On the other side of the platform, doctors have the ability to log in and manage their appointments. They can review pending appointments and decide to accept or decline them based on their availability. Furthermore, they have access to a list of all accepted appointments, ensuring seamless organization and time management.</p>
            <p class="lead">In essence, Proshanti is more than just a platform; it's a community built on the foundation of empathy, understanding, and the shared goal of promoting mental well-being.</p>
            <hr class="my-4">
            <p>Choose your role and start your journey towards tranquility.</p>
            <p class="lead">
                <button class="btn btn-primary btn-lg" routerLink="/login" role="button">Patient</button>
                <button class="btn btn-secondary btn-lg" routerLink="/doctor-login" role="button">Doctor</button>
            </p>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
